* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  color: rgb(77, 77, 77);
}

a:hover {
  color: blue;
}

body {
  display: flex;
  flex-direction: column;
  font-family: Arial;
}

#welcome_header,
#contact_header {
  color: azure;
  font-size: 50pt;
  text-align: center;
  margin: auto;
  margin-top: 15%;
}

h3 {
  color: azure;
  text-align: center;
}

#welcome {
  height: 960px;
  align-content: center;
  background-color: rgb(77, 77, 77);
}

#about_header,
#work_header {
  color: azure;
  font-size: 50pt;
  text-align: center;
}

#about_me_content {
  height: auto;
  background-color: rgb(77, 77, 77);
}

.about_block {
  background-color: azure;
  width: 80%;
  margin: 1rem auto;
  border-radius: 10px;
  display: flex;
  box-shadow: 5px 5px 5px #aaaaaa;
}

.my-picture {
  max-width: 420px;
  height: auto;
  border-radius: 10px;
  box-shadow: 1px 1px 3px #aaaaaa;
  margin: 1rem;
}

.about-me {
  max-width: auto;
  color: rgb(77, 77, 77);
  margin: 1rem;
}

.tools_block {
  background-color: azure;
  width: 80%;
  margin: 1rem auto;
  border-radius: 10px;
  display: flex;
  box-shadow: 5px 5px 5px #aaaaaa;
}

.icon {
  max-width: auto;
  margin: 1rem;
  font-size: 11.25vh;
}

.iconify {
  color: rgb(77, 77, 77);
}

.express {
  color: rgb(77, 77, 77);
}

.skills_block {
}

#about_me_button {
  padding-bottom: 75px;
}

#work_content {
  height: auto;
  background-color: rgb(77, 77, 77);
}

#work_intro {
  width: 100%;
  margin: auto;
  text-align: center;
  margin-bottom: 50px;
  color: azure;
}

.work_block {
  background-color: azure;
  width: 80%;
  margin: 1rem auto;
  border-radius: 10px;
  display: flex;
  box-shadow: 5px 5px 5px #aaaaaa;
}

.work_preview {
  padding: 1rem;
  width: 90%;
}

.work_img {
  width: 150px;
  height: 150px;
  border-radius: 15px;
  box-shadow: 1px 1px 3px #aaaaaa;
  margin: 1rem;
}

.work_title {
  text-align: left;
  font-size: 19px;
  padding: 0rem 0;
}

.work_description {
  font-size: 16px;
  text-align: left;
  margin: 0;
  padding: 0;
  color: rgb(77, 77, 77);
}

#contact_home {
  height: 960px;
  background-color: rgb(77, 77, 77);
}

#final {
  background-color: rgb(77, 77, 77);
}

#final_footer {
  text-align: center;
  color: azure;
}
