* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: Azure;
}

body {
  display: flex;
  flex-direction: column;
  font-family: Arial;
}

h1 {
  color: blue;
  font-size: 50pt;
  text-align: center;
  margin: auto;
  margin-top: 15%;
}

/* .nav-bar {
  text-align: center;
  padding-top: 400px;
} */

h3 {
  color: blue;
  text-align: center;
}

#welcome {
  height: 1080px;
  align-content: center;
}

#about_me_home {
  height: 1080px;
}

#about_me_content {
  height: 1080px;
}

.my-picture {
  max-width: 330px;
  height: auto;
  position: relative;
  left: 875px;
  bottom: 250px;
}

.hog-riding {
  max-width: 330px;
  height: auto;
  position: relative;
  left: 675px;
  bottom: 400px;
}

.about-me {
  max-width: 600px;
  position: relative;
  left: 100px;
  top: 170px;
}

#work_home {
  height: 1080px;
}

#work_content {
  height: 1080px;
}

#contact_home {
  height: 1080px;
}

#contact_content {
  height: 1080px;
}
