* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-family: Arial;
}

#welcome_header,
#contact_header {
  color: blue;
  font-size: 50pt;
  text-align: center;
  margin: auto;
  margin-top: 15%;
}

h3 {
  color: blue;
  text-align: center;
}

#welcome {
  height: 1080px;
  align-content: center;
  background-color: Azure;
}

#about_header,
#work_header {
  color: blue;
  font-size: 50pt;
  text-align: center;
}

#about_me_content {
  height: auto;
  background-color: Azure;
}

.my-picture {
  max-width: 330px;
  height: auto;
  position: relative;
  left: 950px;
  bottom: 300px;
}

.about-me {
  max-width: 600px;
  position: relative;
  left: 150px;
  top: 120px;
}

#about_me_button {
  position: relative;
  bottom: 220px;
}

#work_content {
  height: auto;
  background-color: Azure;
}

#work_intro {
  width: 100%;
  margin: auto;
  text-align: center;
  margin-bottom: 50px;
}

.work_block {
  background-color: rgba(0, 0, 0, 0.8);
  width: 80%;
  margin: 1rem auto;
  border-radius: 10px;
  display: flex;
  box-shadow: 5px 5px 5px #aaaaaa;
}

.work_preview {
  padding: 1rem;
  width: 90%;
}

.work_img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: 1px 1px 3px #aaaaaa;
  margin: 1rem;
}

.work_title {
  text-align: left;
  font-size: 19px;
  padding: 0rem 0;
  color: blue;
}

.work_description {
  font-size: 16px;
  text-align: left;
  margin: 0;
  padding: 0;
}

#contact_home {
  height: 1080px;
  background-color: Azure;
}
